# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


/web/node_modules
/web/.env.local
/web/.umirc.local.ts
/web/config/config.local.ts
/web/src/.umi
/web/src/.umi-production
/web/src/.umi-test
/web/.umi
/web/.umi-production
/web/.umi-test
/web/dist
/web/.mfsu
.swc
